{{>header}}
    <section class="banner-style">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6">
                    <img src="images/about.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    
                    <h1>My first static  web page in express</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed totam dolores distinctio soluta alias nostrum, vitae id enim exercitationem corrupti tenetur necessitatibus recusandae fuga, provident a ad accusantium at! Fugiat!</p>
                    <a href="#" class="btn btn-danger">Read More</a>
                </div>
            </div>
        </div>
    </section>
  {{>footer}}