{{>header}}
    <section class="banner-style">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1>My first static  web page in express</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed totam dolores distinctio soluta alias nostrum, vitae id enim exercitationem corrupti tenetur necessitatibus recusandae fuga, provident a ad accusantium at! Fugiat!</p>
                    <a href="#" class="btn btn-danger">Read More</a>
                </div>
                <div class="col-lg-6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="images/bg1.jpg" class=" w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="images/bg2.jpg" class=" w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="images/bg3.jpg" class=" w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
    </section>
 {{>footer}}