{{> header}}
    <section class="banner-style">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 mx-auto">
                     <form action="">
                    <div class="input-group justify-content-center">
                       
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" />
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" id="searchapi" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                  
                    </div>
</form> 
                    <div class="row">

                        <div class="col-lg-9 mx-auto text-center my-2">
                            <div class="card text-white bg-dark">
                                <div class="card-body">
                                    <div class="card-title d-flex justify-content-around border">
                                        <span>Today</span>
                                        <span>13 OCT</span>
                                    </div>
                                    <p id="errorsmg">Place Enter your api </p>
                                    <div class="card-text d-flex justify-content-center">
                                        <span id="email" class="fs-1">0 <sup>0</sup> C </span> <span> <i class="fa fa-cloud fs-1"></i> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 {{>footer}}